// Place all the styles related to the adminboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#adminboard {
  margin-top: 10px;
}

#adminboard p {
  font-family: arial;
  font-size: 1.2em;
}